<a href="https://colab.research.google.com/github/Shubham-Das-Coder/Machine_Learning_Projects/blob/main/Diabetes_Prediction_Using_Support_Vector_Machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*IMPORTING THE DEPENDENCIES*

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from google.colab import files

*DATA COLLECTION AND DATA ANALYSIS*

In [2]:
data=files.upload()

Saving Diabetes.csv to Diabetes.csv

In [3]:
diabetes_dataset=pd.read_csv("Diabetes.csv") #Loading the diabetes dataset to a pandas DataFrame

In [4]:
diabetes_dataset.head() #Showing the first five rows of the dataset

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [5]:
diabetes_dataset.shape #Showing the number of rows and columns in the dataset

(768, 9)

In [6]:
diabetes_dataset.describe() #Showing the statistical measures of the data

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [7]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [8]:
diabetes_dataset.groupby('Outcome').mean() #Showing mean of every column based on diabetic and non-daibetic

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [9]:
#Separating the data and labels
X=diabetes_dataset.drop(columns='Outcome',axis=1) #All the columns except Outcome
Y=diabetes_dataset["Outcome"] #Saving the Outcome column

In [10]:
print(X)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [11]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

*DATA STANDARDIZATION*

In [12]:
scaler=StandardScaler()

In [13]:
scaler.fit(X)

StandardScaler()

In [14]:
standardized_data=scaler.transform(X)

In [15]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [16]:
X=standardized_data
Y=diabetes_dataset['Outcome']

In [17]:
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [18]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

*TRAIN-TEST SPLIT*

In [19]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [20]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

*TRAINING THE MODEL*

In [21]:
classifier=svm.SVC(kernel='linear') #Loading the svm model into the variable

In [22]:
classifier.fit(X_train,Y_train) #Training the svm classifier

SVC(kernel='linear')

*MODEL EVALUATION-ACCURACY SCORE*

In [23]:
#Accuracy score on the training data
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [24]:
print("Accuracy of the training data is ",training_data_accuracy)

Accuracy of the training data is  0.7866449511400652

In [25]:
#Accuracy score on the test data
X_test_prediction=classifier.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [26]:
print("Accuracy of the testing data is ",testing_data_accuracy)

Accuracy of the testing data is  0.7727272727272727

*MAKING A PREDICTIVE SYSTEM*

In [27]:
input_data=(1,89,66,23,94,28.1,0.167,21)

#Changing the input_data to a numpy array
input_data_as_numpy_array=np.asarray(input_data)

#Reshaping the array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

#Standardize the input data
std_data=scaler.transform(input_data_reshaped)
print(std_data)

prediction=classifier.predict(std_data)

if(prediction[0]==0):
    print("The person is  not diabetic")
else:
    print("The person is diabetic")

[[-0.84488505 -0.99820778 -0.16054575  0.15453319  0.12330164 -0.49404308
  -0.92076261 -1.04154944]]
The person is  not diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [28]:
input_data=(1,133,102,28,140,32.8,0.234,45)

#Changing the input_data to a numpy array
input_data_as_numpy_array=np.asarray(input_data)

#Reshaping the array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

#Standardize the input data
std_data=scaler.transform(input_data_reshaped)
print(std_data)

prediction=classifier.predict(std_data)

if(prediction[0]==0):
    print("The person is  not diabetic")
else:
    print("The person is diabetic")

[[-0.84488505  0.37886661  1.70057325  0.4681735   0.52271486  0.10247738
  -0.71841466  1.00055664]]
The person is  not diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"